  
* {
	margin: 0;
}

html,
body {
    color: #c79d33;
    font-family: 'Permanent Marker', 'cursive', 'Arial', 'sans-serif';
    font-weight: 400;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    /* overflow-x: hidden; */
}

h1 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)), url(./Images/Banner-Logo.jpg);
    background-size: cover;
    background-position: center;
    color: rgb(221, 211, 62);
    font-size: 300%;
    word-spacing: 4px;
    letter-spacing: 1px;
    text-align: center;

}

.linkLogos {
    padding-top: 10vh;
}

/* ------ Header ------ */

.header {
    height: 100vh;
}

.background {
	margin: 0 auto;
	height: 100%;
    width: auto;
    max-width: 100%;
	background-size: contain;
	position: relative;
}

#backgroundMidPic {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8),rgba(0, 0, 0, 0.8)), url(./Images/Header-Pic.jpg);
    background-size: cover;
    height: 20vh;
    background-position: center;
    background-attachment: fixed;
}

#backgroundBottomPic {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8),rgba(0, 0, 0, 0.8)), url(./Images/Header-Pic.jpg);
    background-size: cover;
    height: 40vh;
    background-position: bottom;
    background-attachment: fixed;
}


.headerPic {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8),rgba(0, 0, 0, 0.8)), url(./Images/Header-Pic.jpg);
    background-size: cover;
    background-position: top;
    height: 100vh;
    background-attachment: fixed;
}

.instaIcon {
    padding-left: 3vh;
    padding-top: 2vh;
    width: 5vh;
    float: left;

}

/* ------ Portfolio ------ */

.portfolioPic {
  
    height: auto;
    width: 100%;
    display: block;
    position: relative;
}

.portfolioPic::before {
    content: "Click to see full Portfolio Work!";
    background-color: black;
    color: white;
    font-size: 3rem;
    font-weight: 900;
    width: 100%;
    height: 100%;
    z-index: 2;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    opacity: 0;
    transition: all 0.6s ease;

}

.portfolioPic:hover::before {
    opacity: 0.9;
}



.commissionPic {
    
    height: auto;
    width: 100%;
    display: block;
    position: relative;
  
}

.commissionPic::before {
    content: "Click to see full Commission Work!";
    background-color: black;
    color: white;
    font-size: 3rem;
    font-weight: 900;
    width: 100%;
    height: 100%;
    z-index: 2;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    opacity: 0;
    transition: all 0.6s ease;

}

.commissionPic:hover::before {
    opacity: 0.9;
}


/* ------ Footer ------ */
#footer {
    background-color: black;
	margin: 0 auto;
    width: auto;
    max-width: 100%;
	background-size: contain;
	position: relative;
}

.footer-nav {
    list-style: none;
    float: left;
}

.copyrightText {
    text-align: center;
}


/* ------ Commission Work Page ------ */

.picRow {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
  .picColumn {
    flex: 50%;
    padding: 0 4px;
  }
  
  .picColumn img {
    margin-top: 8px;
    vertical-align: middle;
  }

  .thumbpics {
      width: 10%;
      height: auto
  }