  
* {
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    color: #c79d33;
    background-color: black;
    font-family: 'Anton', 'Arial', 'sans-serif';
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    /* overflow-y: hidden; */
}

ul {
  list-style-type: none;
 }


 
h1 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)), url(./Images/Banner-Logo.jpg);
    background-size: cover;
    background-position: center;
    color: rgb(221, 211, 62);
    font-size: 3.5rem;
    font-weight: 100;
    word-spacing: 4px;
    letter-spacing: 1px;
    text-align: center;
}

  /* Responsive layout - makes nav icon smaller*/
  /* @media screen and (max-width: 800px) {
    .pageNav {
      font-size: 3rem;
      margin-left: 20px;
      margin-top: 5px;
    }
  } */

   /* Responsive layout - makes nav icon smaller*/
  @media screen and (max-width: 600px) {
    h1 {
      font-size: 1.6rem;
    }
  }


.linkLogos {
    padding-top: 10vh;
}

.midAlign {
    padding-top: 20vh;
}

#orangeText {
  color: #c79d33;
}

/* ------ Header ------ */

  /* Responsive layout - makes home logo fit better to scale */
  @media screen and (max-width: 1400px) {
    #homeLogo {
      height: 1000px;
      width: auto;
    }
  }


  /* Responsive layout - makes home logo fit better to scale */
  @media screen and (max-width: 800px) {
    #homeLogo {
      height: 700px;
      width: auto;
    }
  }

   /* Responsive layout - makes home logo fit better to scale */
  @media screen and (max-width: 600px) {
    #homeLogo {
      height: 400px;
      width: auto;
    }
  }



.headerPic {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8),rgba(0, 0, 0, 0.8)), url(./Images/Header-Pic.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    height: 100%;
    background-attachment: fixed;

}


   /* Responsive layout - makes home logo fit better to scale */
   @media screen and (max-width: 600px) {
    .headerPic {
      height: 99.9%;
      position: fixed;
      overflow-y: scroll;
      max-width: 100%;
  }

}

#instaIcon {
  height: 80px;
  width: 80px;
  position: fixed;
  right: 0;
  top: 0;
  margin-top: 27px;
  margin-right: 20px;
  z-index: 5;
  
}

/* ------ RESPONSIVE instaIcon ------ /*


  
  /* Responsive layout - makes the insta icon smaller */
  @media screen and (max-width: 800px) {
    #instaIcon {
      height: 50px;
      width: 50px;
      margin-right: 13px;
      margin-top: 16px;
    }
  }

  
  /* Responsive layout - makes the insta icon smaller */
  @media screen and (max-width: 600px) {
    #instaIcon {
      height: 30px;
      width: 30px;
      margin-right: 10px;
      margin-top: 10px;
    }
  }

.centerImg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    width: 50%;
  }





/* ------- HOME ------ */

.bannerSpace {
  display: block;
  margin-bottom: 200px;
}


  /* Responsive layout - makes port hover text fit better to scale */
  @media screen and (max-width: 1400px) {
    .bannerSpace {
      margin-bottom: 150px;
    }
  }


  /* Responsive layout - makes port hover text fit better to scale */
  @media screen and (max-width: 800px) {
    .bannerSpace {
      margin-bottom: 100px;
    }
  }

   /* Responsive layout - makes port hover text fit better to scale */
  @media screen and (max-width: 600px) {
    .bannerSpace {
      margin-bottom: 50px;
    }
  }





/* ------ Portfolio Logo ------ */

  /* Responsive layout - makes port logo fit better to scale */
  @media screen and (max-width: 1400px) {
    #portLogo {
      height: 800px;
      width: auto;
    }
  }


  /* Responsive layout - makes port logo fit better to scale */
  @media screen and (max-width: 800px) {
    #portLogo {
      height: 600px;
      width: auto;
    }
  }

   /* Responsive layout - makes port logo fit better to scale */
  @media screen and (max-width: 600px) {
    #portLogo{
      height: 330px;
      width: auto;
    }
  }

.portfolioPic {
  
    height: auto;
    width: 100%;
    display: block;
    position: relative;
    z-index: 1;
}

.portfolioPic::before {
    content: "Click to see more Portfolio Work";
    background-color: black;
    color: white;
    font-size: 4rem;
    font-weight: 900;
    width: 100%;
    height: 100%;
    z-index: 2;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    opacity: 0;
    transition: all 0.6s ease;
    cursor: pointer;

}

.portfolioPic:hover::before {
    opacity: 0.95;
}

  /* Responsive layout - makes port hover text fit better to scale */
  @media screen and (max-width: 1400px) {
    .portfolioPic::before {
      font-size: 3rem;
      font-weight: 400;
    }
  }


  /* Responsive layout - makes port hover text fit better to scale */
  @media screen and (max-width: 800px) {
    .portfolioPic::before {
      font-size: 2rem;
      font-weight: 400;
    }
  }

   /* Responsive layout - makes port hover text fit better to scale */
  @media screen and (max-width: 600px) {
    .portfolioPic::before{
      font-size: 1rem;
      font-weight: 400;
    }
  }


/* ------ Commission Logo ------ */
  

.commissionPic {
    
    height: auto;
    width: 100%;
    display: block;
    position: relative;
  
}

.commissionPic::before {
    content: "Click to see more Commission Work";
    background-color: black;
    color: white;
    font-size: 4rem;
    font-weight: 900;
    width: 100%;
    height: 100%;
    z-index: 2;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    opacity: 0;
    transition: all 0.6s ease;
    cursor: pointer;

}

.commissionPic:hover::before {
    opacity: 0.95;
}

  /* Responsive layout - makes com logo and hover text fit better to scale */
  @media screen and (max-width: 1400px) {
    #comLogo {
      height: 800px;
      width: auto;
    }
    .commissionPic::before {
      font-size: 3rem;
      font-weight: 400;
    }
  }
  
  /* Responsive layout - makes com logo and hover text fit better to scale */
  @media screen and (max-width: 800px) {
    #comLogo {
      height: 600px;
      width: auto;
    }
    .commissionPic::before {
      font-size: 2rem;
      font-weight: 400;
    }
  }
  

   /* Responsive layout - makes com logo and hover text fit better to scale */
  @media screen and (max-width: 600px) {
    #comLogo{
      height: 330px;
      width: auto;
    }
    .commissionPic::before {
      font-size: 1rem;
      font-weight: 400;
    }
  }



/* ------ Shop Logo ------ */

.shopPic {
    
    height: auto;
    width: 100%;
    display: block;
    position: relative;
  
}

.shopPic::before {
    content: "Click to vist the store";
    background-color: black;
    color: white;
    font-size: 4rem;
    font-weight: 900;
    width: 100%;
    height: 100%;
    z-index: 2;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    opacity: 0;
    transition: all 0.6s ease;
    cursor: pointer;

}

.shopPic:hover::before {
    opacity: 0.95;
}

  /* Responsive layout - makes port hover text fit better to scale */
  @media screen and (max-width: 1400px) {
    .shopPic::before {
      font-size: 3rem;
      font-weight: 400;
    }
  }


  /* Responsive layout - makes port hover text fit better to scale */
  @media screen and (max-width: 800px) {
    .shopPic::before {
      font-size: 2rem;
      font-weight: 400;
    }
  }

   /* Responsive layout - makes port hover text fit better to scale */
  @media screen and (max-width: 600px) {
    .shopPic::before{
      font-size: 1rem;
      font-weight: 400;
    }
  }

/* ------ Footer ------ */
#footer {
    background-color: black;
	margin: 0 auto;
    width: auto;
    max-width: 100%;
	background-size: contain;
	position: relative;
}

.footer-nav {
    list-style: none;
    color: whitesmoke;
    display: flex;
    justify-content: center;
}

.footer-nav li {
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 50px;
  margin-right: 50px;
}

.copyrightText {
    text-align: center;
}

  /* Responsive layout - makes com footer better to scale */
  @media screen and (max-width: 1400px) {
    .footer-nav li {
      padding-left: 20px;
      padding-top: 20px;
      padding-bottom: 50px;
      margin-right: 50px;
    }
  }


  /* Responsive layout - makes footer better to scale */
  @media screen and (max-width: 800px) {
    .footer-nav li {
      font-size: 0.8rem;
      padding-left: 10px;
      padding-top: 30px;
      padding-bottom: 30px;
      margin-right: 40px;
      text-align: center;
    }
  }

   /* Responsive layout - makes footer better to scale */
  @media screen and (max-width: 600px) {
    .footer-nav li {
      font-size: 0.55rem;
      padding-top: 30px;
      padding-bottom: 30px;
      margin-right: 8px;
    }

  ul {
    padding-inline-end: 40px;
    }

  }

  .copyrightText {
    font-size: 0.7rem;
    padding-bottom: 20px;  
}

   /* Responsive layout - makes copyright text better to scale */
   @media screen and (max-width: 600px) {
    .copyrightText {
      font-size: 0.5rem
    }
  }


/* ------ Work Page ------ */


.portfolioPics {
  display: flex;
  flex-wrap: wrap;
  background-color: transparent;
  padding: 0 20px;
  justify-content: center;
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 80px;
}

.pics {
    display: flex;
    flex-wrap: wrap;
    padding: 0 20px;
    justify-content: center;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
}
  
  .pic {
    height: 100%;
    max-width: 25%;
    margin-bottom: 10px;
    margin: 0 10px;
    align-content: flex-start;
    vertical-align: middle;
  }
  
  .pic img {
    margin-top: 10px;
    background-color: black;
    width: 100%;
    align-self: flex-start;
    cursor: pointer;
  }

  .pageBackPic {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8),rgba(0, 0, 0, 0.8)), url(./Images/Header-Pic.jpg);
    background-position: top;
    background-attachment: fixed;
    background-size: cover;
}




/* ------ RESPONSIVE Work Page ------ /*


  
  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 800px) {
    .pic {
      flex: 40%;
      max-width: 50%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .pic {
      flex: 100%;
      max-width: 100%;
    }

    .contact h2 {
      font-size: 10px;
    }

  }

  /* ------ Pop Up Box ------ */

  #popup-overlay {
    position: fixed;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.8);
    transition: opacity 500ms;
    z-index: 6;
  }
  
  #popup-link-box {
      cursor: pointer;
  }
  
  
  #popup-close {
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 25px;
    margin-top: -70px;
    transition: all 200ms;
    font-size: 10rem;
    font-weight: bold;
    text-decoration: none;
      color: yellow;
      cursor: pointer;
  }
  
  #popup-close:hover {
    color: red;
  }

  .picOne {
    display: flex;
    max-height: 95vh;
    max-width: 80%;
    margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  }




    
      /* Responsive layout - makes form logo fit better to scale */
      @media screen and (max-width: 800px) {
        #popup-close {
          font-size: 5.5rem;
          margin-right: 20px;
          margin-top: -35px;
        }
      }
    
       /* Responsive layout - makes form logo fit better to scale */
      @media screen and (max-width: 600px) {
        #popup-close {
          font-size: 3rem;
          margin-top: -17px;
          margin-right: 15px;
        }
      }

  /* ------ Form ------- */

    /* Responsive layout - makes form logo fit better to scale */
    @media screen and (max-width: 1400px) {
      #formLogo {
        height: 800px;
        width: auto;
      }
    }
  
  
    /* Responsive layout - makes form logo fit better to scale */
    @media screen and (max-width: 800px) {
      #formLogo {
        height: 600px;
        width: auto;
      }
    }
  
     /* Responsive layout - makes form logo fit better to scale */
    @media screen and (max-width: 600px) {
      #formLogo{
        height: 300px;
        width: auto;
      }
    }

  .formTitle {
    font-size: 450%;
    word-spacing: 4px;
    text-align: center;
    padding-bottom: 8%;
    color: yellow
  }

       /* Responsive layout - makes form logo fit better to scale */
       @media screen and (max-width: 600px) {
        .formTitle {
     font-size: 300%;
     padding-left: 5%;
     padding-right: 5%;
        }
      }

  .formContainer {
    background-image: linear-gradient( rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25) ), url(/Images/Commission-Work-Pics/Contact-Form-Pic.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: initial;
    color: rgb(245, 57, 88);
    padding: 25px;
    margin: 150px 0;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    max-width: 40%;
    margin: 0 auto;
    position: relative;
    padding-top: 30px;
    margin-bottom: 60px;
    opacity: 0.9;
  }

  .formTitles {
    font-size: 2.5rem;
    font-weight: 200;
    margin-bottom: 10px;
    margin-top: 10px;
    opacity: 1;
  }
  
  /* Responsive layout - makes about form title text fit better to scale */
  @media screen and (max-width: 1400px) {
    .formTitles {
      font-size: 2rem;
    }

  #newsletter {
    font-size: 1rem;
  }
  }

  /* Responsive layout - makes about form title text fit better to scale */
  
  @media screen and (max-width: 800px) {
    .formTitles {
      font-size: 1.5rem;
    }
    #newsletter {
      font-size: 1rem;
    }
  }

   /* Responsive layout - makes about form title text fit better to scale */
   @media screen and (max-width: 600px) {
   .formTitles {
    font-size: 1rem;
     }
     #newsletter {
      font-size: 1rem;
    }
  }

  #messageForm textarea{
    height: 400px;
    width: 100%;
    resize: none;
    font-size: 1rem;
  }
  
  .contact input, 
  .contact textarea {
    font-family: Arial, Helvetica, sans-serif;
    height: 40px;
    width: 500px;
    max-width: 100%;
    resize: none;
    background-color: black;
    color: white;
  }
  
  .contact input[type="checkbox"] {
    height: 100px;
    width: 50px;
    margin-left: 7px;
    margin-bottom: 5px;
  }

/* Responsive layout - makes about newsletter button text fit better to scale */
  @media screen and (max-width: 1400px) {
      .contact input[type="checkbox"] {
      width: 30px
    }
  }
  
    /* Responsive layout - makes about newsletter button fit better to scale */
    @media screen and (max-width: 800px) {
      .contact input[type="checkbox"] {
        width: 25px;
      }
    }
  
     /* Responsive layout - makes about newsletter button fit better to scale */
    @media screen and (max-width: 600px) {
      .contact input[type="checkbox"] {
        width: 20px;
      }
    }

  #newsletter {
    margin-top: 23px;
    margin-left: 20px;
    font-size: 2.4rem;
    font-weight: 200;
  }

    /* Responsive layout - makes about nav text fit better to scale */
    @media screen and (max-width: 1800px) {
    #newsletter {
      font-size: 2rem;
    }
    }

      /* Responsive layout - makes about newsletter txt fit better to scale */
      @media screen and (max-width: 1550px) {
        #newsletter {
          font-size: 1.8rem;
        }
      }

      /* Responsive layout - makes about newsletter txt fit better to scale */
       @media screen and (max-width: 1420px) {
        #newsletter {
          margin-top: 33px;
          font-size: 1.6rem;
        }
      }

      /* Responsive layout - makes about newsletter txt fit better to scale */
      @media screen and (max-width: 1400px) {
        #newsletter {
          font-size: 1.5em;
        }
      }

      /* Responsive layout - makes about newsletter txt fit better to scale */
      @media screen and (max-width: 1200px) {
        #newsletter {
          font-size: 2.4rem;
        }
      }     

      /* Responsive layout - makes about newsletter txt fit better to scale */
      @media screen and (max-width: 900px) {
        #newsletter {
          font-size: 1.8rem;
        }
      }          


    /* Responsive layout - makes about newsletter txt fit better to scale */
    @media screen and (max-width: 766px) {
      #newsletter {
        margin-top: 33px;
        font-size: 1.4rem;
      }
    }
  
     /* Responsive layout - makes about newsletter txt fit better to scale */
     @media screen and (max-width: 600px) {
       #newsletter {
        font-size: 1.1rem;
        margin-top: 37px;
      }
    }

  #newsletterLayout
  {
    display: flex;
    flex-direction: row;
  }

 

  #submit-btn input[type="submit"] {
    font-family: "Permanent Marker";
    cursor: pointer;
    width: 100%;
    height:auto;
    border: none;
    background: yellow;
    color: black;
    margin: 0 0 5px;
    padding: 10px;
    font-size: 50px;
  }
  

  .contact button[type="submit"]:active {
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
  }

  .submit-btn {
  padding-top: 30px;
  }
  
  .copyright {
    text-align: center;
  }
  
  .contact input:focus,
  .contact textarea:focus {
    outline: 0;
    border: 1px solid #aaa;
  }
  
  ::-webkit-input-placeholder {
    color: #888;
  }
  
  :-moz-placeholder {
    color: #888;
  }
  
  ::-moz-placeholder {
    color: #888;
  }
  
  :-ms-input-placeholder {
    color: #888;
  }

  .contactMe {
    font-size: 4rem;
    text-align: center;
    color: rgb(245, 57, 88);
    font-weight: 200;

  }


/* ----- ABOUT ME ------ */

  /* Responsive layout - makes about logo fit better to scale */
  @media screen and (max-width: 1400px) {
    #aboutLogo {
      height: 800px;
      width: auto;
    }
  }


  /* Responsive layout - makes about logo fit better to scale */
  @media screen and (max-width: 800px) {
    #aboutLogo {
      height: 600px;
      width: auto;
    }
  }

   /* Responsive layout - makes about logo fit better to scale */
  @media screen and (max-width: 600px) {
    #aboutLogo{
      height: 300px;
      width: auto;
    }
  }

#parryOne {
  height: 30vh;
  width: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}






  /* ---- Navs ----- */

.pageNav {
  color: yellow;
  position: fixed;
  font-size: 5rem;
  float: left;
  margin-left: 40px;
  cursor: pointer;
  z-index: 5;
}


/* ------ RESPONSIVE instaIcon ------ /*


  
  /* Responsive layout - makes nav icon smaller*/
  @media screen and (max-width: 800px) {
    .pageNav {
      font-size: 3rem;
      margin-left: 20px;
      margin-top: 5px;
    }
  }

   /* Responsive layout - makes nav icon smaller*/
  @media screen and (max-width: 600px) {
    .pageNav {
      font-size: 1.6rem;
      margin-left: 10px;
      margin-top: 5px;
    }
  }

a:link,
a:visited {
    color: whitesmoke;
    text-decoration: none;
    transition: color 0.3s;
    transition: color 0.3s;
}


.comNavLinks {
  font-size: 5rem;
  padding-top: 150px;
}

  /* Responsive layout - makes about nav text fit better to scale */
  @media screen and (max-width: 1400px) {
    .comNavLinks {
      font-size: 5rem;
    }
    #navPic {
     display: none;

    }
  }


  /* Responsive layout - makes about nav text fit better to scale */
  @media screen and (max-width: 800px) {
    .comNavLinks {
      font-size: 4rem;
    }  
    #navPic {      
      display: none;
     }
  }

   /* Responsive layout - makes about nav text fit better to scale */
   @media screen and (max-width: 600px) {
   .comNavLinks {
    font-size: 3rem;
    }
    #navPic {
      display: none;
     }
  }

.gradient:hover,
.gradient:active {
  color: whitesmoke;
	background-image: -webkit-linear-gradient(92deg, #f35626, #feab3a);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
  -webkit-animation: hue 10s infinite linear;
  
}

@-webkit-keyframes hue {
  from {
    -webkit-filter: hue-rotate(0deg);
  }
  to {
    -webkit-filter: hue-rotate(-360deg);
  }
}



  /* ------ Pop Up Box ------ */

  #navPopup-overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.9);
    transition: opacity 500ms;
    z-index: 100;
  }
  

  
  
  #navPopup-close {
    position: fixed;
    display: block;
    margin-left: 40px;
    transition: all 200ms;
    font-size: 5rem;
    font-weight: bold;
    text-decoration: none;
      color: yellow;
      cursor: pointer;
      z-index: 101;
  }
  
  #navPopup-close:hover {
    color: red;
  }

  #navPic {
    height: 850px;
    width: auto;
    position: fixed;
    top: 0;
    right: 0;
  }

    /* Responsive layout - makes about logo fit better to scale */

  
    /* Responsive layout - makes about logo fit better to scale */
    @media screen and (max-width: 800px) {
      #navPopup-close {
        font-size: 3rem;
        margin-left: 20px;
        margin-top: 5px;
      }
    }
  
     /* Responsive layout - makes about logo fit better to scale */
    @media screen and (max-width: 600px) {
      #navPopup-close {
        font-size: 1.6rem;
        margin-left: 10px;
        margin-top: 5px;
      }
    }