  
* {
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    color: #c79d33;
    font-family: 'Permanent Marker', 'cursive', 'Arial', 'sans-serif';
    font-weight: 400;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    /* overflow-x: hidden; */
}

h1 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)), url(./Images/Banner-Logo.jpg);
    background-size: cover;
    background-position: center;
    color: rgb(221, 211, 62);
    font-size: 300%;
    word-spacing: 4px;
    letter-spacing: 1px;
    text-align: center;

}

.linkLogos {
    padding-top: 10vh;
}

.midAlign {
    padding-top: 20vh;
}

/* ------ Header ------ */


.background {
	margin: 0 auto;
	height: 100%;
    width: auto;
    max-width: 100%;
	background-size: contain;
	position: relative;
}

#backgroundMidPic {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8),rgba(0, 0, 0, 0.8)), url(./Images/Header-Pic.jpg);
    background-size: cover;
    height: 20vh;
    background-position: center;
    background-attachment: fixed;
}

#backgroundBottomPic {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8),rgba(0, 0, 0, 0.8)), url(./Images/Header-Pic.jpg);
    background-size: cover;
    height: 20vh;
    background-position: bottom;
    background-attachment: fixed;
}


.headerPic {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8),rgba(0, 0, 0, 0.8)), url(./Images/Header-Pic.jpg);
    background-size: cover;
    background-position: top;
    height: 100vh;
    background-attachment: fixed;
}

/* .instaIcon {
    padding-left: 3vh;
    padding-top: 2vh;
    width: 5%;
    float: left;
    cursor: pointer;
    position: relative;

} */

.centerImg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    width: 50%;
  }

/* ------ Portfolio Logo ------ */

.portfolioPic {
  
    height: auto;
    width: 100%;
    display: block;
    position: relative;
}

.portfolioPic::before {
    content: "Click to see more Portfolio Work!";
    background-color: black;
    color: white;
    font-size: 3rem;
    font-weight: 900;
    width: 100%;
    height: 100%;
    z-index: 2;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    opacity: 0;
    transition: all 0.6s ease;
    cursor: pointer;

}

.portfolioPic:hover::before {
    opacity: 0.9;
}


/* ------ Commission Logo ------ */

.commissionPic {
    
    height: auto;
    width: 100%;
    display: block;
    position: relative;
  
}

.commissionPic::before {
    content: "Click to see more Commission Work!";
    background-color: black;
    color: white;
    font-size: 3rem;
    font-weight: 900;
    width: 100%;
    height: 100%;
    z-index: 2;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    opacity: 0;
    transition: all 0.6s ease;
    cursor: pointer;

}

.commissionPic:hover::before {
    opacity: 0.9;
}


/* ------ Shop Logo ------ */

.shopPic {
    
    height: auto;
    width: 100%;
    display: block;
    position: relative;
  
}

.shopPic::before {
    content: "Click to vist the store!";
    background-color: black;
    color: white;
    font-size: 3rem;
    font-weight: 900;
    width: 100%;
    height: 100%;
    z-index: 2;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    opacity: 0;
    transition: all 0.6s ease;
    cursor: pointer;

}

.shopPic:hover::before {
    opacity: 0.9;
}

/* ------ Footer ------ */
#footer {
    background-color: black;
	margin: 0 auto;
    width: auto;
    max-width: 100%;
	background-size: contain;
	position: relative;
}

.footer-nav {
    list-style: none;
    float: left;
}

.copyrightText {
    text-align: center;
}


/* ------ Work Page ------ */

.pics {
    display: flex;
    flex-wrap: wrap;
    padding: 0 20px;
    justify-content: center;
    max-width: 80%;
    margin: auto;
}
  
  .pic {
    max-width: 25%;
    padding-bottom: 10px;
    padding: 0 10px;
    align-content: flex-start;
  }
  
  .pic img {
    margin-top: 10px;
    width: 100%;
    align-self: flex-start;
    cursor: pointer;
  }

  .pageBackPic {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8),rgba(0, 0, 0, 0.8)), url(./Images/Header-Pic.jpg);
    background-position: top;
    background-attachment: fixed;
}




/* ------ RESPONSIVE Work Page ------ /*


  
  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 800px) {
    .pic {
      flex: 50%;
      max-width: 50%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .pic {
      flex: 100%;
      max-width: 100%;
    }
  }

  /* ------ Pop Up Box ------ */

  #popup-overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    transition: opacity 500ms;
  }
  
  #popup-link-box {
      cursor: pointer;
  }
  
  /* #popup {
    width: 70vw;
    height: 70vh;
    margin-left: 10vw;
    margin-top: 10vh;
    background: #fff;
    border-radius: 5vw;
    padding: 5vh 5vw;
    transition: all 1s ease-in-out;
  } */
  
  #popup-close {
    position: absolute;
    top: 15vh;
    right: 15vw;
    transition: all 200ms;
    font-size: 5vw;
    font-weight: bold;
    text-decoration: none;
      color: #333;
      cursor: pointer;
  }
  
  #popup-close:hover {
    color: #6d9297;
  }

  .picOne {
      display: block;
      height: auto;
      width: 30%;
      margin-left: auto;
      margin-right: auto;
      padding-top: 20px;   
  }