/* Big tablet to 1200px (widths smaller than 1140px row): from 1024 to 1200px */
@media only screen and (max-width:1200px) {
   
    
    .row { padding: 0 2%; }
    
    .main-nav { width: 80%; }
    
    .app-screen { width: 50% }


}



/* Small tablet to big tablet: from 768 to 1023px */
@media only screen and (max-width:1023px) {
    body { font-size: 18px; }
    section {padding: 60px 0;}
    
  
    .formContainer {         
        width: 767px;
        max-width: 80%; }
     #formScale {         
         width: 767px;
         max-width: 80%; }
      
    .row,

    .hero-text-box { padding: 0 4%; }

    .app-screen { width: 50% }
}

/* Small phones to small tablets: from 481 to 767px */
@media only screen and (max-width:767px) {
    body { font-size: 16px; }
    section { padding: 30px 0; }
    .centerImg { width: 100% }
    .row,
    .hero-text-box { padding: 0 4%; }
    .formContainer {         
        width: 479px;
        max-width: 80%; }
     #formScale {         
         width: 479px;
         max-width: 80%; }
}
  
   


/* Small phones: from 0 to 480px */
@media only screen and (max-width:480px) {
    section { padding: 25px 0; }
    .formContainer {         
        width: 479px;
        max-width: 100%; }
    .centerImg { 
        width: 479px;
        max-width: 100%; }
    #formScale {         
        width: 479px;
        max-width: 100%; }
  
}
